global
    maxconn 20000
    ulimit-n 16384
    log 127.0.0.1 local0
    daemon

defaults
    mode http
    log global
    option httplog
    option dontlognull
    option forwardfor
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend hafrontend
    bind *:8080
    mode http
    default_backend habackend

backend habackend
    mode http
    balance roundrobin
    option forwardfor
    server prometheus 192.168.100.12:9090 check
    server grafana 192.168.100.12:3000 check

    http-request set-header Host localhost
